.main {
  padding: 1.7rem;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.navItems,
.legend {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
}

.dropdown {
  display: flex;
  gap: 0.3rem;
}
