.main {
  padding: 1.7rem;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.dropdown {
  display: flex;
  gap: 0.3rem;
  margin-left: -0.3rem;
  margin-top: .5rem;
}

@media (max-width: 530px) {
  .nav {
    display: grid;
  }
}