.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.textLabel {
  text-align: center;
}

.textLabel p {
  font-size: 1rem;
}

.textLabel p:nth-child(2) {
  color: var(--c-mellow-blue);
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: flex-start;
  }

  .main > div:nth-child(2) {
    display: none;
  }

  .image {
    display: flex;
    margin-left: -0.4rem;
    width: 70%;
  }
}
