.main {
  display: grid;
  grid-template-columns: 3fr 5fr;
  padding: 1.7rem;
}

/* LEFT PROGRESS SIDE */
.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progressBar {
  background-color: var(--c-light-gray);
  border-radius: 5px;
  width: 100%;
}

.progressBar div {
  background-color: var(--c-green);
  border-radius: 5px;
  height: 100%;
}

.result {
  margin: 2rem;
}

.progessBarResult {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: -2.5rem 3rem 0 0;
}

.mainArrowContainer {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: 0.5rem 0 1rem 0;
}

.topArrowContainer,
.bottomArrowContainer {
  display: flex;
  gap: 0.4rem;
}

/* RIGHT CHART SIDE */
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 1.8rem;
}

.navItems {
  align-items: center;
  display: flex;
  gap: 0.8rem;
}

.button {
  display: flex;
  gap: 15px;
  margin-top: 0.2rem;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .result {
    margin: 2rem;
  }

  .progessBarResult {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 0;
  }

  .mainArrowContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2.3rem;
  }
}
