.main {
  display: grid;
  grid-template-columns: 3fr 4fr;
  height: 100%;
  padding: 1.7rem;
}

.leftContainer {
  background-color: blue;
  display: flex;
  flex-direction: column;
}

.rightContainer {
  background-color: aquamarine;
  width: 100%;
}

.rightContainer ul {
  list-style: none;
}

.nav {
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.progressBar {
  background-color: lightgray;
  height: 20px;
  width: 100%;
}

.progressBar div {
  background-color: var(--c-green);
  height: 100%;
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
