@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Space+Grotesk:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary background colors */
  --background-color-dark-navy: #121633;
  --background-color-light-blue: #d4dde7;

  /* Chart colors */
  --c-bright-blue: #0015ce;
  --c-dark-gray: #b7b7b7;
  --c-green: #4fbb4d;
  --c-light-blue: #cedce9;
  --c-light-gray: #ededed;
  --c-light-red: #ee6a76;
  --c-mellow-blue: #97b8d7;
  --c-mellow-gray: #dadada;
  --c-orange: #f4770a;

  --c-card-bg: #fff;

  /* Text colors */
  --text-color-dark: black;
  --text-color-light: white;

  /* Font styles */
  --font-heading: 'Space Grotesk', sans-serif;
  --font-body-copy: 'Kumbh Sans', sans-serif;

  /* Font sizes */
  --fs-heading: 1.3rem; /*21px*/
  --fs-subheading: 1rem; /*16px*/
  --fs-paragraph-L: 3rem; /*48px*/
  --fs-paragraph-M: 0.82rem; /*13px*/
  --fs-paragraph-S: 0.76rem; /*12px*/
}

body {
  background-color: var(--background-color-dark-navy);
  color: var(--text-color-dark);
}

h1 {
  font-size: var(--fs-heading);
}

h2 {
  font-size: var(--fs-subheading);
}

h3 {
  font-size: var(--fs-paragraph-L);
}

p {
  font-size: var(--fs-paragraph-M);
}

span {
  font-size: var(--fs-paragraph-S);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

select {
  /* Styling for ALL dropdown buttons and select elements */
  font-family: var(--font-body-copy);
  font-size: var(--fs-paragraph-S);
  background-color: white;
  border-style: none;
  border: 1.5px solid var(--c-mellow-gray);
  border-radius: 5px;
  padding: 0.2rem 0;
  margin-top: 0.2rem;
}

select:focus {
  outline: none;
}
