.opptsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--c-card-bg);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 2.3rem;
  grid-gap: 1.7rem;
  margin: 0.5rem;
}

.title {
  font-family: var(--font-heading);
  font-size: var(--fs-paragraph-M);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 0.82rem;
}
