.opptsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2.3rem;
  grid-gap: 1.7rem;
}

.title {
  font-family: var(--font-heading);
  font-size: var(--fs-paragraph-M);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 0.82rem;
}