.main {
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
  width: 100%;
}

.userContainer {
  margin: 1rem 0 3rem 0;
}

.listItems {
  display: flex;
  flex-direction: column;
}

.buttonItem {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.7rem;
}

.buttonItem p {
  font-size: 1rem;
  font-weight: 700;
}

.buttonItem:hover svg path {
  fill: var(--background-color-dark-navy);
}

.buttonItem:hover {
  background-color: white;
  border-radius: 10px;
  color: var(--background-color-dark-navy);
  cursor: pointer;
  left: -1rem;
  padding: 0.7rem 0 0.7rem 2rem;
  position: relative;
}

.listItems > div:last-child {
  /* sign out item */
  border-top: 1px solid var(--c-mellow-gray);
  bottom: 1rem;
  margin: 0 1.5rem;
  position: absolute;
  width: 75%;
}

.signOutItem {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.signOutItem p {
  font-size: 1rem;
  font-weight: bold;
}

.signOutItem:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 0 3rem 0.5rem;
  }

  .header {
    margin: -3rem 0;
  }

  .logo {
    display: block;
    margin-left: -0.8rem;
    padding-bottom: 1rem;
  }

  .userContainer {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
  }

  .buttonItem {
    display: flex;
    justify-content: right;
    padding: 0.5rem 0;
  }

  .buttonItem:hover {
    background-color: transparent;
    border-radius: 10px;
    color: white;
    left: 0;
    opacity: 0.5;
    padding: 0.5rem 0;
    position: relative;
  }

  .buttonItem:hover svg path {
    fill: white;
  }

  .buttonItem:nth-child(3) {
    margin-bottom: 0.8rem;
  }

  .userContainer {
    margin: -0.5rem 0;
  }

  .listItems > div:last-child {
    /* sign out item */
    border-top: 1px solid var(--c-mellow-gray);
    margin: 0;
    position: static;
    width: 100%;
  }

  .signOutItem {
    justify-content: flex-end;
  }
}
