.main {
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  flex-direction: column;
  height: 95%;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.userContainer {
  margin: 2rem 0 4rem 0;
}


.buttonItem {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.buttonItem p {
  font-size: 1rem;
}

.buttonItem:hover {
  cursor: pointer;
  opacity: 0.5;
}

.main > div:last-child { /* sign out item */
  border-top: 1px solid var(--c-mellow-gray);
}

@media (max-width: 768px) {
  .main {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0.3rem 3rem;
  }

  .main > div:last-child {
    margin: 0;
  }

  .userContainer {
    margin: 0;
  }

  .buttonItem {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
  }
}
