.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 1.7rem;
}

/* Title and dropdown button */
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.title {
  width: 70%;
}

.button {
  display: flex;
  margin-top: 0.2rem;
}

.topRowContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.topArrowContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.8rem;
}

.infoLeftContainer {
  align-items: center;
  display: flex;
  gap: 0.7rem;
}

.iconContainer {
  margin-top: 0.3rem;
}

.result {
  font-weight: bold;
}

.progressBar {
  background-color: var(--c-light-gray);
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}

.progressBar div {
  background-color: var(--c-green);
  border-radius: 4px;
  height: 100%;
  transition: all 1s ease-out;
}

.progressBarContent {
  display: flex;
  gap: 0.85rem;
}

.iconContainer {
  position: relative;
  display: inline-block;
}

.iconContainer:hover .tooltip {
  display: block;
}

.tooltip {
  background-color: var(--text-color-light);
  border: 1px solid var(--c-mellow-gray);
  color: var(--text-color-dark);
  display: none;
  left: 0;
  padding: 1rem;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 12rem;
  z-index: 999;
}

@media (max-width: 1535px) {
  .main {
    margin-bottom: 6rem;
  }
}

@media (max-width: 768px) {
  .main {
    margin-bottom: 6rem;
  }
}
