.main {
  padding: 1.7rem;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.navItems {
  align-items: center;
  display: flex;
  gap: 0.8rem;
}

.dropdown {
  display: flex;
  gap: 0.3rem;
}

@media (max-width: 630px) {
  .nav {
    display: grid;
  }
}
