.gridContainer {
  background-color: var(--background-color-light-blue);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2rem;
}

.rowOne {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.rowTwo {
  display: grid;
  grid-template-columns: 5fr 4fr;
  margin-top: 1.5rem;
}

.rowThree {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 2rem;
}

.leftColumn {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.leftColumnTrends {
  display: grid;
  grid-template-rows: 1fr 10fr;
  aspect-ratio: 1;
}

.rightColumn {
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 4fr;
  margin-left: 1.2rem;
}

.rightColumnTop,
.rightColumnBottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.title {
  align-items: flex-end;
  display: flex;
  font-family: var(--font-heading);
  font-size: larger;
  font-weight: bold;
  padding-left: 0.5rem;
}

.frame25,
.frame75,
.frame50,
.frame33,
.leftBox {
  background-color: white;
  border-radius: 30px;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .gridContainer,
  .rowOne,
  .rowTwo,
  .rowThree,
  .rightColumn {
    display: grid;
    grid-template-columns: repeat(1, 10fr);
  }

  .rowOne,
  .rowTwo,
  .rowThree,
  .rightColumn {
    margin: 1rem 0;
  }
}
