.gridFrame {
  background-color: #fff;
}
.gridContainer {
  background: linear-gradient(180deg, #e6eff7 0%, rgba(230, 239, 247, 0) 100%);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.rowOne {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.rowTwo {
  display: grid;
  grid-template-columns: 5fr 4fr;
  margin-top: 1.5rem;
}

.rowThree {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 2rem;
}

.leftColumn {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.leftColumnTrends {
  display: grid;
  grid-template-rows: 1fr 10fr;
  aspect-ratio: 1;
}

.rightColumn {
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 4fr;
  margin-left: 1.2rem;
}

.title {
  align-items: flex-end;
  display: flex;
  font-family: var(--font-heading);
  font-size: larger;
  font-weight: bold;
  padding-left: 0.5rem;
}

.frame25,
.frame75,
.frame50,
.frame33,
.leftBox {
  background-color: white;
  border-radius: 10px;
  margin: 0.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 21, 206, 0.07));
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.04);
}

@media (max-width: 768px) {
  .gridContainer,
  .rowOne,
  .rowTwo,
  .rowThree,
  .rightColumn {
    display: grid;
    grid-template-columns: repeat(1, 10fr);
  }

  .rowOne,
  .rowTwo,
  .rowThree,
  .rightColumn {
    margin: 1rem 0;
  }

  .leftColumnTrends {
    max-height: 17.5rem; /*280px*/
    aspect-ratio: 0;
  }
}
