.gridFrame {
  background-color: #fff;
}

.gridContainer {
  background: linear-gradient(180deg, #e6eff7 0%, rgba(230, 239, 247, 0) 100%);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.heading {
  padding-left: 0.5rem;
  margin: 2.4rem 0 1.2rem 0;
}

.rowOne {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.rowTwo {
  display: grid;
  grid-template-columns: 5fr 4fr;
  margin-top: 1.5rem;
}

.leftColumnNewHires,
.rightColumnNewHires {
  display: grid;
  grid-template-rows: 1fr;
}

.rightColumn {
  display: grid;
  grid-template-rows: 1fr 4.5fr 1fr 4.5fr;
  margin-left: 1.2rem;
}

.rowThree {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 2rem;
}

.leftColumnTrends {
  display: grid;
  grid-template-rows: 1fr 10fr;
}


.title {
  align-items: flex-end;
  display: flex;
  font-family: var(--font-heading);
  font-size: larger;
  font-weight: bold;
  padding-left: 0.5rem;
}

.frame25,
.frame75,
.frame50,
.frame33,
.leftBox {
  background-color: white;
  border-radius: 10px;
  margin: 0.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 21, 206, 0.07));
  box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.04);
}

.frame50 {
  display: flex;
  align-items: center;
}

.frame25 {
  z-index: 1;
}

.frame33 {
  overflow: hidden;
}

@media (max-width: 1335px) {
  .gridContainer,
  .rowOne,
  .rowTwo,
  .rowThree,
  .rightColumn {
    display: grid;
    grid-template-columns: 1fr;
  }

  .rightColumn {
    margin-left: 0;
  }

  .frame25
  .frame33 {
    overflow: hidden;
}
}

@media (max-width: 968px) {
  .gridContainer,
  .rowOne,
  .rowTwo,
  .rowThree,
  .rightColumn {
    display: grid;
    grid-template-columns: repeat(1, 10fr);
  }

  .rowOne,
  .rowTwo,
  .rowThree,
  .rightColumn {
    margin: 1rem 0;
  }
}

@media (max-width: 530px) {
  .gridContainer,
  .rowOne,
  .rowTwo,
  .rowThree,
  .rightColumn {
    display: grid;
    grid-template-columns: 1fr;
  }
}
