.gridContainer {
  background-color: lightgray;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  padding: 2rem;
}

.rowOne {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.rowTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rowThree {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.rowTwo,
.rowThree {
  margin-top: 1.5rem;
}

.leftColumn {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.rightColumn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.oneBox,
.frame25,
.frame75,
.frame50,
.frame33 {
  align-items: center;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .gridContainer,
  .rowOne,
  .rowTwo,
  .rowThree,   
  .leftColumn,
  .rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
